@model RoletopMVC.ViewModels.PedidoViewModel

 <main>

            <section id="painel">
       
            <div class="box-status-pedidos aprovados">
                    <h4>Aprovados</h4>
                    <p>1</p>
                </div>

                <div class="box-status-pedidos pendentes">
                        <h4>pendentes</h4>
                        <p>20</p>
                    </div>

                    <div class="box-status-pedidos reprovados">
                            <h4>reprovados</h4>
                            <p>10</p>
                        </div>
                    </section>

            <h2>CALENDARIO</h2>
            
          
            <section id="calendario">

                <img src="img/calendario.png" alt="calendario">
            

            <form action="adiministrador1.html">
                <br>
                    <label for="selecione a data">selecione a data</label>
                    <br>
                    <input id="date" type="date">

                    <input type="submit" value="buscar" />
                    <br>
                </form>
                <br>
                </section>

                
                    <table>
                            <thead>
                                <tr>
                                    <th rowspan="2">Nome</th>
                                    <th rowspan="2">dia</th>
                                    <th rowspan="2">descriçao do evento</th>
                                    <th rowspan="2">cpf</th>
                                    <th rowspan="2">email</th>
                                    <th rowspan="2">luz e som</th>
                                    <th rowspam="2">confirmar</th>
                                </tr>
                                
                                    
                                    
                            
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <p>agendamento feito as 04/09/2019 às 7:41</p>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>lucas santos</td>
                                    <td>01/09/2019</td>
                                    <td>casamento da maria com o joao</td>
                                    <td>52041722894</td>
                                    <td>lucasbr.santoscosta@gmail.com</td>
                                    <td>luz</td>
                                    <td><a href="#"><i class="fas fa-check-circle"></i><br>
                                        <i class="fas fa-ban"></i>

                                    </a></td>
                                    
                                    
                                </tr>
                              
                            </tbody>
                            
                        </table>
           
        </main>